openapi: 3.0.3
info:
  title: "A sample API conforming to the standard OGC API - Processes - Part 1 : Core"
  version: 1.0.0
  description: |-
    This document is an API definition document provided alongside the OGC API - Processes standard. The OGC API - Processes Standard specifies a processing interface to communicate over a RESTful protocol using JavaScript Object Notation (JSON) encodings. The specification allows for the wrapping of computational tasks into executable processes that can be offered by a server and be invoked by a client application.
  contact:
    name: "Open Geospatial Consortium (OGC)"
    email: standards-team@ogc.org
    url: 'https://www.ogc.org/contacts'
  license:
    name: OGC license
    url: "http://www.ogc.org/legal/"
paths:
  /:
    $ref: "bblocks://ogc.api.processes.v1.paths.LandingPage"

  /conformance:
    $ref: "bblocks://ogc.api.processes.v1.paths.Conformance"

  /processes:
    $ref: "bblocks://ogc.api.processes.v1.paths.ProcessList"

  /processes/{processID}:
    $ref: "bblocks://ogc.api.processes.v1.paths.ProcessDescription"

  /jobs:
    $ref: "bblocks://ogc.api.processes.v1.paths.JobList"

  /processes/{processID}/execution:
    $ref: "bblocks://ogc.api.processes.v1.paths.Execution"

  /jobs/{jobId}:
    allOf:
      - $ref: "bblocks://ogc.api.processes.v1.paths.Job"
      - $ref: "bblocks://ogc.api.processes.v1.paths.DismissJob"

  /jobs/{jobId}/results:
    $ref: "bblocks://ogc.api.processes.v1.paths.JobResult"

servers:
  - description: Example server
    url: http://example.org/ogcapi
