get:
  summary: retrieve a process description
  description:  |
      The process description contains information about inputs and outputs and a link to the execution-endpoint for the process. The Core does not mandate the use of a specific process description to specify the interface of a process. That said, the Core requirements class makes the following recommendation:

      Implementations SHOULD consider supporting the OGC process description.

      For more information, see [Section 7.10](https://docs.ogc.org/is/18-062/18-062.html#sc_process_description).
  operationId: getProcessDescription
  tags:
    - ProcessDescription
  parameters:
    - $ref: "bblocks://ogc.api.processes.v1.parameters.processIdPathParam"
  responses:
    200:
      $ref: "bblocks://ogc.api.processes.v1.responses.ProcessDescription"
    404:
      $ref: "bblocks://ogc.api.processes.v1.responses.NotFound"
