get:
  summary: retrieve the status of a job
  description: |
    Shows the status of a job.

      For more information, see [Section 7.12](https://docs.ogc.org/is/18-062/18-062.html#sc_retrieve_status_info).
  operationId: getStatus
  tags:
    - Status
  parameters:
    - $ref: "bblocks://ogc.api.processes.v1.parameters.jobId"
  responses:
    200:
      $ref: "bblocks://ogc.api.processes.v1.responses.Status"
    404:
      $ref: "bblocks://ogc.api.processes.v1.responses.NotFound"
    500:
      $ref: "bblocks://ogc.api.processes.v1.responses.ServerError"
delete:
  summary: cancel a job execution, remove a finished job
  description: |
    Cancel a job execution and remove it from the jobs list.

    For more information, see [Section 13](https://docs.ogc.org/is/18-062/18-062.html#Dismiss).
  operationId: dismiss
  tags:
    - Dismiss
  parameters:
    - $ref: "bblocks://ogc.api.processes.v1.parameters.jobId"
  responses:
    200:
      $ref: "bblocks://ogc.api.processes.v1.responses.Status"
    404:
      $ref: "bblocks://ogc.api.processes.v1.responses.NotFound"
    500:
      $ref: "bblocks://ogc.api.processes.v1.responses.ServerError"