get:
  summary: landing page of this API
  description: >-
     The landing page provides links to the:
       * The APIDefinition (no fixed path),
       * The Conformance statements (path /conformance),
       * The processes metadata (path /processes),
       * The endpoint for job monitoring (path /jobs).

     For more information, see [Section 7.2](https://docs.ogc.org/is/18-062/18-062.html#sc_landing_page).
  operationId: getLandingPage
  tags:
    - Capabilities
  responses:
    200:
      $ref: "bblocks://ogc.api.processes.v1.responses.LandingPage"
    500:
      $ref: "bblocks://ogc.api.processes.v1.responses.ServerError"