post:
  summary: execute a process.
  description: |
    Create a new job.

    For more information, see [Section 7.11](https://docs.ogc.org/is/18-062/18-062.html#sc_create_job).
  operationId: execute
  tags:
    - Execute
  parameters:
    - $ref: "bblocks://ogc.api.processes.v1.parameters.processIdPathParam"
  requestBody:
    description: Mandatory execute request JSON
    required: true
    content:
      application/json:
        schema:
          $ref: "bblocks://ogc.api.processes.v1.schemas.execute"
  responses:
    200:
      $ref: 'bblocks://ogc.api.processes.v1.responses.ExecuteSync'
    201:
      $ref: "bblocks://ogc.api.processes.v1.responses.ExecuteAsync"
    404:
      $ref: "bblocks://ogc.api.processes.v1.responses.NotFound"
    500:
      $ref: "bblocks://ogc.api.processes.v1.responses.ServerError"
  callbacks:
    jobCompleted:
      "{$request.body#/subscriber/successUri}":
        post:
          requestBody:
            content:
              application/json:
                schema:
                  $ref: "bblocks://ogc.api.processes.v1.schemas.results"
          responses:
            200:
              description: Results received successfully
